<p id="notice"><%= notice %></p>

<h1>Fantasy Drafts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fantasy_drafts.each do |fantasy_draft| %>
      <tr>
        <td><%= link_to 'Show', fantasy_draft %></td>
        <td><%= link_to 'Edit', edit_fantasy_draft_path(fantasy_draft) %></td>
        <td><%= link_to 'Destroy', fantasy_draft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fantasy Draft', new_fantasy_draft_path %>
