<p id="notice"><%= notice %></p>

<p>
  <strong>Fantasy league:</strong>
  <%= @fantasy_draft.fantasy_league_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fantasy_draft.name %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @fantasy_draft.datetime %>
</p>

<%= link_to 'Edit', edit_fantasy_draft_path(@fantasy_draft) %> |
<%= link_to 'Back', fantasy_drafts_path %>
