<p id="notice"><%= notice %></p>

<h1>Fantasy Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Fantasy League</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fantasy_teams.each do |fantasy_team| %>
      <tr>
        <td><%= link_to fantasy_team.name, fantasy_team %></td>
        <td><%= fantasy_team.abbrev %></td>
        <td><%= link_to fantasy_team.league_name, fantasy_team.fantasy_league %></td>
        <td><%= link_to 'Show', fantasy_team %></td>
        <td><%= link_to 'Edit', edit_fantasy_team_path(fantasy_team) %></td>
        <td><%= link_to 'Destroy', fantasy_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fantasy Team', new_fantasy_team_path %>
