<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @api_v1_draft.name %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @api_v1_draft.datetime %>
</p>

<%= link_to 'Edit', edit_api_v1_draft_path(@api_v1_draft) %> |
<%= link_to 'Back', api_v1_drafts_path %>
