<%= form_with(model: api_v1_draft, local: true) do |form| %>
  <% if api_v1_draft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_v1_draft.errors.count, "error") %> prohibited this api_v1_draft from being saved:</h2>

      <ul>
        <% api_v1_draft.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :datetime %>
    <%= form.datetime_select :datetime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
